*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #74C69D;
    height: 123px;
}
.head{
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
    flex-wrap: wrap;
}
.s-l{
    display: flex;
    gap: 20px;
}
.s-l >h1{
    font-family: "Work Sans";
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}
.links >img{
    display: none;
}
.links >ul {
    display: flex;
    gap: 40px;
    padding-top: 10px;
}
.links >ul >li {
    list-style: none;
}
.links >ul >li >a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: "Work Sans";
}
@media (max-width:768px) {
    .links > ul {
        display: none;
        width: 100%;
        padding: 10px 0;
        margin: 0;
        position: absolute;
        top: 123px;
        left: 0;
        gap: 20px;
        background-color: #74C69D;
    }
    .links > ul.show-menu {
        display: flex;
    }
    .links >img {
        display: block;
        margin-top: 5px;
        cursor: pointer;
    }
}